$gray-dark:                 #373a3c;
$input-border-color:             rgba(0,0,0,.15);

.select2-container {

    &.select2 {
        width: 100% !important;
        height: auto;
    }

    .select2-override {
        height: calc(2.5rem - 2px);
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 0.17rem;
    }

    .select2-option-override {
        padding: 0;
        margin: 0;
    }

    &.select2-container--open {
        .select2-override {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .select2-selection.select2-selection--single {
        height: 38px;
        padding-top: 0;
        padding-bottom: 0;

        .select2-selection__arrow {
            display: none;
        }

        .select2-selection__rendered {
            height: 100%;
            padding-left: 0;
            line-height: 36px;
        }
    }

    .select2-dropdown {
        border-color: $input-border-color;

        .select2-search__field {
            border: 1px solid $input-border-color;
        }

        .select2-results .select2-results__option--highlighted {
            background-color: $gray-dark;
        }
    }
}
